body {
  margin: 0;
  color: var(--text-head-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
link {
  font-style: none;
  text-decoration: none;
}
img {
  display: block;
  min-width: 100px;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}

:root {
  --text-font: "Roboto", sans-serif;
  --text-main-color: #757575;
  --icon-color: #afb1b8;
  --text-head-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-main: #2f303a;
  --background-team: #f5f4fa;
  --border-work-examples: #eeeeee;
  --portfolio-border: #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*======= HEADER ======*/
.header {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.container-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}
.cont-link {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.cont-link .item-cont:not(:first-child) {
  margin-left: 50px;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: relative;
  display: block;
  bottom: -29px;
  left: 0px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links:focus,
.nav-links:hover {
  color: var(--accent-color);
}

.contacts-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover .contacts-icon-mail,
.contacts-link:focus .contacts-icon-mail {
  fill: var(--accent-color);
}
.contacts-link:hover .contacts-icon-phone,
.contacts-link:focus .contacts-icon-phone {
  fill: var(--accent-color);
}
/* ====== HERO ======= */

.hero-section {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-container {
  max-width: 695px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero-button {
  min-width: 170px;
  padding: 10px 15px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  border: 0px;
  background-color: #2196f3;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* ======== Details ========*/
.opportunoties-icon-list {
  display: flex;
}
.list-item-icon {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.opportunities-icon {
  width: 70px;
  height: 70px;
}
.details-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.details {
  display: flex;
  width: 1170px;
  height: 101px;
}

.details-list:not(:last-child) {
  margin-right: 30px;
}

.details-list {
  width: 270px;
}

.details-list-titles {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #212121;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* ===== Whot we do===== */

.whotwedo-section {
  padding-bottom: 95px;
  margin: 0px 89.5px;
}
.imeges-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.imeges-list {
  display: flex;
}

.imeges-list :not(:last-child) {
  margin-right: 30px;
}
.whotwedo-overlay {
  position: relative;
}
.whotwedo-overlay-text {
  padding: 27px 80px 27px 83px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/* -- Team -- */

.our-team {
  padding: 95px;
  background-color: #f5f4fa;
}
.our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.our-team-list > li:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 412px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-list-card > img {
  width: 100%;
  height: 260px;
}

.name {
  margin: 30px auto 10px auto;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}
.name-position {
  margin: 0 auto 0 auto;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187px;
  text-align: center;
  color: #757575;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

/* ---Client section--- */
.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.client-list {
  display: flex;
  justify-content: center;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  cursor: pointer;
  border: 1px solid var(--icon-color);
  fill: var(--icon-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-link:last-child {
  margin-left: 0px;
}
.logo-1 {
  width: 44.27px;
  height: 49.23px;
}
.logo-2 {
  width: 40px;
  height: 52px;
}
.logo-3 {
  width: 41px;
  height: 46.6px;
}
.logo-4 {
  width: 79.66px;
  height: 42.02px;
}
.logo-5 {
  width: 59px;
  height: 47px;
}
.logo-6 {
  width: 88.48px;
  height: 45.44px;
}

/*  --Footer--  */

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.address-container {
  margin-right: 70px;
}

.footer .footer-container {
  display: flex;
}
.footer-container {
  display: flex;
}
.footer-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.join-us {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--icon-color);
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item:hover .social-list-icon,
.footer-social-item:focus .social-list-icon {
  fill: #ffffff;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.social-list-footer {
  display: flex;
  align-items: baseline;
}
.footer-social-item {
  margin-right: 10px;
}

.footer .logo {
  color: #ffffff;
}

.address > li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5px;
  color: rgba(255, 255, 255, 0.6);
}
.address > li:first-of-type > a {
  color: #ffffff;
}

.footer-navigation-list-item {
  margin-top: 9px;
}

/*======PORTFOLIO========*/
.portfolio-section {
  padding-top: 77px;
  padding-bottom: 94px;
}
.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  background-color: var(--background-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  margin-left: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
}
.project-card-link {
  display: block;
}
.project {
  width: 370px;
  border: 1px solid var(--border-work-examples);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project:nth-child(3n) {
  margin-right: 0px;
}
.card-text {
  padding: 20px 24px;
}
.portfolio-image-title {
  margin-bottom: 4px;
  color: var(--text-head-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.image-description {
  margin-top: 0px;
  color: var(--text-main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.overlay-text-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgb(33, 150, 243, 0.9);
  padding: 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.project-card-link:hover .overlay,
.project-card-link:focus .overlay {
  transform: translateY(0%);
}
